@import url('./styles/SVThin.css');

body {
  background-color: #0373dc;
  font-family: 'SV Thin', sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
}
body, body * {
  box-sizing: border-box;
}
