@import url('./styles/SVThin.css');

body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #002790, #0373dc);
  font-family: 'SV Thin', sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
}
body, body * {
  box-sizing: border-box;
}
a {
  color: #002790;
  text-decoration-color: transparent;
  transition: text-decoration-color 111ms ease-in-out;
}
a:hover {
  text-decoration-color: currentColor;
}
